// Main Colors
$violet: #655ec7;
$light-black: #2c2c37;
$dark-black: #22232e;

// Card Colors
$blue: #50c4e2;
$dark-violet: #8472f0;
$light-green: #6cdbb0;

// Text Colors
$white: white;
$light-gray: #6b6d7c;

// Error Colors
$err-red: #cb4d4d;
$txt-err-red: #ff6464;
